*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  color: #f2f2f2;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
nav{
  background: #222222;
  padding: 20px 40px 20px 70px;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  position: fixed;
  width: 100%;
  z-index: 1;
}
nav ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}
nav ul li.logo{
  flex: 1;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  left: 50px;
}
.logo a{
    text-decoration: none;
}
nav ul div.items{
  padding: 0 25px;
  display: inline-flex;
}
nav ul div.items a{
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
}
nav ul div.items a:hover{
  background-color: #3c3c3c;
  padding: 33px 12px;
}
nav ul .search-icon{
  height: 45px;
  width: 40%;
  display: flex;
  background: #f2f2f2;
  border-radius: 5px;
  display: flex;
}
nav ul .search-icon input{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  flex: 1;
}
nav ul .search-icon .icon{
  height: 100%;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
nav ul .search-icon .icon:hover{
  background: #e6e6e6;
}
nav ul .search-icon .icon span{
  color: #222222;
  font-size: 18px;
}
.filter-icon {
    background-color: transparent;
    color: #000;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .submenu {
    position: relative;
    display: inline-block;
  }
  .submenu-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 160px;
    padding: 12px 16px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
  }
  .submenu-content a {
    color: #000;
    padding: 6px 0;
    display: block;
    text-decoration: none;
    font-family: Georgia;
  }
.submenu-content a:hover {
    color: #3D5A6C;
  }
.submenu:hover .submenu-content {
    display: block;
  }
@media screen and (max-width: 1052px) {
  nav{
    padding: 10px 40px 10px 0px;
  }
  nav ul div.items a:hover{
    background-color: #3c3c3c;
    padding: 23px 12px;
  }
  nav ul li.logo{
    display: none;
  }
  nav ul .search-icon input{
    flex: 4;
  }
  .menu:hover::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 90, 108, 0.5);
    z-index: 0;
    pointer-events: none;
  }
  
}
@media screen and (max-width: 800px){

  nav{
    z-index: 1;
    padding: 9px 40px 10px 0;
  }
  nav ul{
    position: relative;
    left: 5%;
  }
  nav ul div.items{
    padding: 0 25px;
    display: inline-flex;
  }
  nav ul div.items a:hover{
    background-color: #3c3c3c;
    padding: 23px 12px;
  }
  nav ul div.items li a{
    font-size: 19px;
  }
  nav ul li .search-icon{
    flex: 2;
  }
  .menu:hover::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 90, 108, 0.5);
    z-index: 0;
    pointer-events: none;
  }
  
}
@media screen and (max-width: 600px){

    nav{
      z-index: 1;
      padding: 9px 10px 10px 0;
    }
    nav ul{
      position: relative;
      left: 5%;
    }
    nav ul div.items{
      padding: 0 25px;
      display: inline-flex;
    }
    nav ul div.items a:hover{
      background-color: #3c3c3c;
      padding: 23px 12px;
    }
    nav ul div.items li a{
      font-size: 18px;
    }
    nav ul li .search-icon{
      flex: 2;
    }
    .menu:hover::before {
      content: "";
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: rgba(61, 90, 108, 0.5);
      z-index: 0;
      pointer-events: none;
    }
  }
@media screen and (max-width: 405px) {
  nav ul{
    flex-wrap: nowrap;
  }
  nav ul li.search{
    width: 50vmin;
  }
  nav ul li input{
    width: 40vmin;
  }
  nav ul li .search-icon{
    width: 10vmin;
    flex:2;
  }
  .menu:hover::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 90, 108, 0.5);
    z-index: 0;
    pointer-events: none;
  }
  
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 0 40px;
    z-index: -2;
  }
  .content .text{
    font-size: 40px;
    font-weight: 800;
    padding: 5px 0;
    color: #202020;
  }
  .content .p{
    font-size: 28px;
    font-weight: 600;
    color: #202020;
  }
  
  body{
      min-height: 100vh;
      position: relative;
  }
  .menu{
      position: fixed;
      width: 60px;
      height: 100%;
      background-color: #3d5a6c;
      transition: 0.5s;
      overflow: hidden;
      top: 0%;
      opacity: 1
  }
  .menu:hover{
      width: 190px;
  }
  .menu ul{
      position: absolute;
      top: 15%;
      left: 0;
      width: 100%;
  }
  .menu ul li{
      position: relative;
      width: 100%;
      list-style: none;
      margin-top: 5%;
  }
  .menu ul li:hover{
      background-color: #547d97;
  }
  .menu:hover::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 90, 108, 0.5);
    z-index: 0;
    pointer-events: none;
  }
  
  .menu ul li a{
      position: relative;
      display: block;
      width: 100%;
      display: flex;
      text-decoration: none;
      color: white;
  }
  .menu ul li a .icon{
      position: relative;
      display: block;
      min-width: 60px;
      height: 60px;
      line-height: 60px;
      text-align: center;
  }
  .menu ul li a .icon .fas{
      font-size: 24px;
  }
  .menu ul li a .title{
      position: relative;
      display: block;
     padding: 0 10px;
      height: 60px;
      line-height: 55px;
      text-align: start;
      white-space: nowrap;
      font-size: 18px;
      font-family: sans-serif;
  }
.text-content p{
    color: black;
    margin: auto;
    padding: 0px 85px 50px 140px;
    text-align: justify;
    line-height: 25px;
    font-size: 17px;
  }
.about-us{
    font-size: 30px;
    font-weight: 600;
    color: #202020;
    text-align: center;
    padding-top: 120px;
  }

.text-content hr{
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 20px;
    background-color: #3c3c3c;
  }
.img-drone{
    width: 20em;
    float: left;
    margin-top: 20px;
    margin-right: 10px;
    display: block;
    border: 5px solid #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
.img-team{
    width: 20em;
    height: auto;
    float: right;
    margin-top: 10px;
    margin-left: 10px;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: rotate(-2deg) scale(1.0);
    border: 5px solid #ffffff;
    position: relative;
    z-index: -1;
  }
